 <!-- Sidebar  -->
 <nav id="sidebar">
  <div class="sidebar-header">
    <h3>Admin Sidebar</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="/admin">CRUD Database</a>
    </li>
    <li>
      <a href="/admin/usermanagement">Quản lý User</a>
    </li>
    <li>
      <a href="/admin/kiemduyet">Kiểm duyệt khóa học</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>