<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- header -->
    <% include ../elements/header %>
    <!-- css header - footer -->
    <% include ../elements/css/header-footer %>
    <link rel="stylesheet" href="/assets/css/dashboardAdmin.css" />
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>Admin Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="/admin">CRUD Database</a>
          </li>
          <li>
            <a href="/admin/kiemduyet">Kiểm duyệt khóa học</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- Page Content  -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button
              type="button"
              id="sidebarCollapse"
              class="btn btn-info btn_color">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
            </button>
            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li
                  class="nav-item active"
                  style="color: antiquewhite; padding-right: 20px">
                  <a href="/admin">CRUD Database</a>
                </li>
                <li class="nav-item" style="color: antiquewhite">
                  <a href="/admin/kiemduyet">Kiểm duyệt khóa học</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container" style="text-align: center">
          <p>CRUD Database</p>

          <table
            class="table table-bordered table-striped table-hover"
            style="table-layout: fixed">
            <thead class="table-dark">
              <tr>
                <th scope="col" class="text-truncate">#</th>
                <th scope="col" class="text-truncate">Table</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td class="text-truncate">courses</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example">
                    <a
                      type="button btn-primary"
                      href="./courses/"
                      class="btn btn-primary"
                      >Go</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td class="text-truncate">users</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./users/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>

              <tr>
                <td>3</td>
                <td class="text-truncate">categories</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./categories/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td class="text-truncate">usercarts</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./usercarts/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td class="text-truncate">usercourses</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./usercourses/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td class="text-truncate">lessons</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./lessons/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>

              <tr>
                <td>7</td>
                <td class="text-truncate">comments</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./comments/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td class="text-truncate">invoices</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./invoices/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>9</td>
                <td class="text-truncate">roles</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./roles/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>

              <tr>
                <td>10</td>
                <td class="text-truncate">transactions</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./transactions/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>11</td>
                <td class="text-truncate">userlessons</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./userlessons/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>12</td>
                <td class="text-truncate">questions</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <a
                      type="button btn-primary"
                      href="./questions/"
                      class="btn btn-primary"
                      >Go</a
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="mt-5 mb-5">
            <a class="btn btn-danger" href="/admin/signout"> Sign out </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->
    <!-- <% include ../elements/footer %> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <% include ../elements/script %>
  </body>
</html>
