<section class="sign-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-0 col-xm-0  sign-in-right">

            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xm-12 sign-in-left">
                <div class="title">
                    <img src="./assets/images/logo.png" alt="">
                    <h5>CODEEVERYDAY</h5>
                </div>

                <div class="login-alert">

                </div>
                <form action="" id="reg-form">
                    <h6>Email or Username</h6>
                    <input id="username" name="username" type="text" placeholder="Username">
                    <h6>Password</h6>
                    <input id="password" type="password">
                    <button type="submit" value="Submit Form" class="btn btn-info form-submit" id="form-submit" placeholder="Password">Create</button>
                </form>
                <div class="sign-in-left-mid">
                    <a href="#">Forgot password?</a>
                    <a href="#">Sign in with company or school</a>
                </div>
                <div class="create">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='/login'">Login</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-0 col-xm-0  sign-in-right">

            </div>
        </div>
    </div>
</section>