<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 banner-left">
                <a href="#">
                    <img src="./assets/images/banner-title1.png" alt="" data-aos="fade-right"
                    data-aos-anchor="#example-anchor"
                    data-aos-offset="500"
                    data-aos-duration="1000">
                </a>
                <div class="button-save"  data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="1000">
                    <a href="#">
                        Save now
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="zone-sale">
                    <!-- <h1>40% off</h1> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="learn">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 learn-left">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi" data-aos="fade-down-right" data-aos-duration="1000">
                        <a href="#courses">
                            <img src="./assets/images/learn-js.png" alt="">
                            <span>path</span>
                            <h5>JavaScript</h5>
                            <p>11 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi" data-aos="fade-down-right" data-aos-duration="1000">
                        <a href="#courses">
                            <img src="./assets/images/learn-angular.png" alt="">
                            <span>path</span>
                            <h5>Angular</h5>
                            <p>14 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi" data-aos="fade-up-right" data-aos-duration="1000">
                        <a href="#courses">
                            <img src="./assets/images/learn-python.png" alt="">
                            <span>path</span>
                            <h5>Core Python</h5>
                            <p>12 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi" data-aos="fade-up-right" data-aos-duration="1000">
                        <a href="#courses">
                            <img src="./assets/images/learn-csap.png" alt="">
                            <span>path</span>
                            <h5>C#</h5>
                            <p>19 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 learn-right" data-aos="fade-left" data-aos-duration="1000">
                <span>TRENDING TECHNOLOGIES</span>
                <h5>Popular topics
                    to learn now</h5>
                <p>Not sure what technologies to focus on? The Technology Index ranks 850+ technologies by their
                    relative popularity. See what’s topping the charts and get recommended courses to skill up.
                </p>
                <a href="#courses">
                    <h6>View the index</h6><i class='bx bx-chevron-right'></i>
                </a>

            </div>
        </div>
    </div>
    </div>
</section>

<% include courses %>

<section class="update">
    <div class="container">
        <div class="row">
            <span data-aos="fade-down" data-aos-duration="1000">KEEP UP TO DATE</span>
            <h5>Discover more about Pluralsight</h5>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi" data-aos="fade-up-right" data-aos-duration="1000">
                <a href="https://www.g2.com/categories/online-course-providers#grid">
                    <img src="./assets/images/momentInTime-compareOnlineCourseProviders.png" alt="">
                </a>
                <h6>COMPARE ONLINE COURSE PROVIDERS</h6>
                <p>Unbiased reviews to help you make the right decision for your team</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi" data-aos="fade-up-right" data-aos-duration="800">
                <a href="https://www.g2.com/categories/technical-skills-development#grid">
                    <img src="./assets/images/momentInTime-whichProductForYou.png" alt="">
                </a>
                <h6>WHICH TECH SKILL DEVELOPMENT PRODUCT IS RIGHT FOR YOU?</h6>
                <p>Reduce decision fatigue with helpful data based on your peers’ experiences</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi" data-aos="fade-up-left" data-aos-duration="800">
                <a href="https://www.youtube.com/embed/9h-I4lRkWH0?autoplay=1&hd=1&rel=0&autohide=1&modestbranding=1&iv_load_policy=3">
                    <img src="./assets/images/mon-3.jpg" alt="">
                </a>
                <h6>WHAT IS PLURALSIGHT SKILLS?</h6>
                <p>Discover the fastest, most effective path to developing technology skills.</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi" data-aos="fade-up-left" data-aos-duration="1000">
                <a href="https://www.g2.com/categories">
                    <img src="./assets/images/mon-4.jpg" alt="">
                </a>
                <h6>CREATE YOUR FREE ACCOUNT</h6>
                <p>Build new tech skills on us with free access to 50+ expert-led courses, assessments and more.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="banner-mid">
    <div class="container-fluid">
        <div class="row">
            <img class="col-lg-6 col-md-12 col-sm-12 col-xs-12 img-left" src="./assets/images/banner-mid.png"
                alt="" data-aos="fade-right" data-aos-duration="1000">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 banner-mid-right" data-aos="fade-left" data-aos-duration="1000">
                <img src="./assets/images/banner-mid-icon.png" alt="">
                <h5>Winning the talent war with a scalable tech skills platform</h5>
                <p>Evolving a 20-year-old company, increasing innovation and accelerating time to delivery
                    requires
                    fresh
                    skills. See how VMware’s globally dispersed teams use Pluralsight to leverage the latest
                    developments in
                    technology as they find new ways to serve customers.</p>
                <div class="button-how">
                    <a href="#">How they're skilling up</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="new">
    <div class="container" data-aos="fade-down" data-aos-duration="1000">
        <div class="row">
            <span>SEE WHAT'S NEW</span>
            <h5>Our latest features</h5>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 new-left">
                <img src="./assets/images/logo-skills.png" alt="">
                <h6>LABS</h6>
                <h5>Create better cloud outcomes with hands-on experience</h5>
                <p>Your teams need the right skills and a place to practice to ensure they’re ready to deliver
                    on
                    your cloud objectives. Labs enable learners to get hands-on practice in a provisioned cloud
                    environment in AWS, Azure and Google Cloud (Google Cloud powered by Quiklabs).</p>

                <a href="#">
                    <h6 class="learn-more">Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 new-right">
                <img src="./assets/images/Cloud-labs-image2x.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="new-bottom" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 khoi">
                <img src="./assets/images/certification-prep.png" alt="">
                <h5>Empower your teams to grow their skills and their careers</h5>
                <p>Prepare your team for certification exams with our expert authored content and practice
                    exams.
                </p>
                <a href="#">
                    <h6>Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 khoi">
                <img src="./assets/images/delivery-module.png" alt="">
                <h5>Make lasting workflow improvements with insights from your Jira data</h5>
                <p>Go beyond Jira data and get visibility into what’s happening within your user stories, tasks
                    and
                    bugs. Flow’s delivery module helps you better understand how your team is working and can
                    make
                    lasting improvements to your workflow.</p>
                <a href="#">
                    <h6>Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 khoi">
                <img src="./assets/images/sandboxes.png" alt="">
                <h5>Utilize a space for unrestricted exploration</h5>
                <p>Sandboxes gives your team a safe environment to practice what they're learning from
                    expert-authored courses.</p>
                <a href="#">
                    <h6>Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="skills">
    <div class="title">
        <h6>FOLLOW US</h6>
        <h5>Share your skills</h5>
    </div>
    <div class="container">
        <div class="row responsive1">  
            <div class="slide-skill">
                <div class="top">
                    <img src="/assets/images/skill1.jpg" alt="">
                    <h6>Kayode Omotoye</h6>
                    <span>@Kontrepyd</span>
                </div>
                <div class="mid">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus modi iste unde esse veritatis impedit dolore aliquid omnis, asperiores est veniam sint magnam mollitia! Id voluptatem reprehenderit facilis facere! Omnis.</p>
                </div>
                <div class="bottom">
                    <i class='bx bx-message-rounded'></i>
                    <i class='bx bx-heart'></i>
                </div>
            </div>  
            <div class="slide-skill">
                <div class="top">
                    <img src="/assets/images/skill2.jpg" alt="">
                    <h6>Kayode Omotoye</h6>
                    <span>@Kontrepyd</span>
                </div>
                <div class="mid">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus modi iste unde esse veritatis impedit dolore aliquid omnis, asperiores est veniam sint magnam mollitia! Id voluptatem reprehenderit facilis facere! Omnis.</p>
                </div>
                <div class="bottom">
                    <i class='bx bx-message-rounded'></i>
                    <i class='bx bx-heart'></i>
                </div>
            </div>  
            <div class="slide-skill">
                <div class="top">
                    <img src="/assets/images/skill3.jpg" alt="">
                    <h6>Kayode Omotoye</h6>
                    <span>@Kontrepyd</span>
                </div>
                <div class="mid">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus modi iste unde esse veritatis impedit dolore aliquid omnis, asperiores est veniam sint magnam mollitia! Id voluptatem reprehenderit facilis facere! Omnis.</p>
                </div>
                <div class="bottom">
                    <i class='bx bx-message-rounded'></i>
                    <i class='bx bx-heart'></i>
                </div>
            </div>  
            <div class="slide-skill">
                <div class="top">
                    <img src="/assets/images/skill6.jpg" alt="">
                    <h6>Kayode Omotoye</h6>
                    <span>@Kontrepyd</span>
                </div>
                <div class="mid">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus modi iste unde esse veritatis impedit dolore aliquid omnis, asperiores est veniam sint magnam mollitia! Id voluptatem reprehenderit facilis facere! Omnis.</p>
                </div>
                <div class="bottom">
                    <i class='bx bx-message-rounded'></i>
                    <i class='bx bx-heart'></i>
                </div>
            </div>  
        </div>
    </div>
</section>

<section class="nonpro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nonpro-left" data-aos="fade-right" data-aos-duration="1000">
                <img src="./assets/images/nonpro-icon.png" alt="">
                <h5>See our growth,
                    progress and evolution</h5>
                <p>At Pluralsight, we see first-hand every day how technology makes the impossible, possible.
                    It’s
                    why Pluralsight One exists: To advance our mission of democratizing technology skills,
                    challenging assumptions about solutions and create significant, lasting social impact.</p>
                <a href="#">
                    <h6>FOR NONPROFITS</h6>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="free">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 free-left" data-aos="fade-right" data-aos-duration="1000">
                <h5>Insights that give you an edge</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 free-right" data-aos="fade-left" data-aos-duration="1000">
                <a href="#">TRY FOR FREE</a>
            </div>
        </div>
    </div>
</section>
