<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 khoi">
                <h5>SOLUTIONS</h5>
                <a href="#">CodeEveryDay Skills</a>
                <a href="#">CodeEveryDay Flow</a>
                <a href="#">Government</a>
                <a href="#">Gift of CodeEveryDay</a>
                <a href="#">View Pricing</a>
                <a href="#">Contact Sales</a>
                <a href="#">Skill up for free</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 khoi">
                <h5>PLATFORM</h5>
                <a href="#">Browse library</a>
                <a href="#">Role IQ</a>
                <a href="#">Skill IQ</a>
                <a href="#">Iris</a>
                <a href="#">Authors</a>
                <a href="#">Professional Services</a>
                <a href="#">Technology Index</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 khoi">
                <h5>COMPANY</h5>
                <a href="#">About us</a>
                <a href="#">Customer stories</a>
                <a href="#">Careers</a>
                <a href="#">Blog</a>
                <a href="#">Newsroom</a>
                <a href="#">Resource center</a>
                <a href="#">Guides</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 khoi">
                <h5>RESOURCES</h5>
                <a href="#">Download CodeEveryDay</a>
                <a href="#">Events</a>
                <a href="#">Teach</a>
                <a href="#">Partners</a>
                <a href="#">Affiliate Partners</a>
                <a href="#">CodeEveryDayOne.org</a>
                <a href="#">Subscribe</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 khoi">
                <h5>SUPPORT</h5>
                <a href="#">Contact</a>
                <a href="#">Help center</a>
                <a href="#">IP whitelist</a>
                <a href="#">Sitemap</a>
            </div>
            <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-bottom">
                <div class="row">
                    <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 footer-bottom-left">
                        <a href="#">
                            <img src="./assets/images/logo-white.png" alt="">
                        </a>
                        <p>Copyright © 2020 - 2021 CodeEveryDay LLC. All rights reserved</p>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 footer-bottom-mid">
                        <a href="#">Terms of Use</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 footer-bottom-mid">
                        <a href="#">Modern Slavery Act Transparency Statement
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 footer-bottom-right">
                        <a href="https://www.facebook.com/trinh.doan.2602"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-youtube'></i></a>
                    </div>
                    <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
                </div>
            </div>
        </div>
    </div>
</footer>