<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="/" id="logo"><img src="./assets/images/logo.png" alt="">
                    CodeEveryDay</a>
            </div>
            <div class="col-md-5">
                <div id="menu">
                    <ul>
                        <li><a href="#">
                                <h6>Platform</h6><i class='bx bxs-chevron-down'></i>
                            </a></li>
                        <li><a href="#">
                                <h6>Products</h6><i class='bx bxs-chevron-down'></i>
                            </a></li>
                        <li><a href="#">
                                <h6>Resources</h6><i class='bx bxs-chevron-down'></i>
                            </a></li>
                        <li><a href="#">
                                <h6>For Individuals</h6>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="header-right">

                    <li><a href="login" class="sign-in">
                            <h6>Sign in</h6>
                        </a>
                    </li>
                    <!-- <li><a href="#" class="log-out">
                        <h6>Logout</h6>
                    </a></li> -->
                    <!-- <a href="" class="try-free">Try For Free</a> -->
                </div>
            </div>
            <div class="col-md-1 menu-bar">
                <span></span>
            </div>
        </div>
    </div>
</header>
