<div class="add-course">
    <div style="padding-top: 74px; padding-bottom:74px;" class="container mt-5">
        <h2>Billing Manager</h2>
        <form method="POST" action="/seller/courses/bill">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 bill-wrapper">
                    <h6><span>Người đã mua khóa học: </span>Trình Đoàn</h6>
                    <h6><span>Khóa học đã mua: </span>Lập trình NodeJs và ExpressJs</h6>
                    <h6><span>Tổng tiền: </span>A$9999</h6>
                    <h6><span>Ngày mua: </span>1 - 10 - 2022</h6>
                </div>
                
               
            <button type="back" class="btn btn-secondary">Back</button>
        </form>
    </div>
</div>