<div class="add-course">
    <div style="padding-top: 74px; padding-bottom:74px;" class="container mt-5">
        <h2>Billing Manager</h2>
        <form method="POST" action="/seller/courses/bill">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 bill-wrapper">
                    <table class="table table-striped table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên người mua</th>
                            <th scope="col">Khóa học đã mua</th>
                            <th scope="col">Số tiền</th>
                            <th scope="col">Ngày mua</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Trình Đoàn</td>
                            <td>Lập Trình NodeJs và ExpressJs</td>
                            <td>A$52</td>
                            <td>1 - 10 - 2022</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Chiếm Dự</td>
                            <td>Lập Trình NodeJs và ExpressJs</td>
                            <td>A$52</td>
                            <td>1 - 10 - 2022</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Anh Tuấn</td>
                            <td>Lập Trình NodeJs và ExpressJs</td>
                            <td>A$52</td>
                            <td>1 - 10 - 2022</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Tổng tiền: A$555</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                
               
            <button type="back" class="btn btn-secondary">Back</button>
        </form>
    </div>
</div>