<div class="seller__wrapper">
    <div class="container">
        <div class="row header-seller-home">
            <!-- <div class="col-md-2 category">
                <div class="logo">
                    <a href="/" id="logo"><img src="./assets/images/logo.png" alt="">
                        CodeEveryDay</a>
                </div>
                <div class="category-list">
                    <ul>
                        <li class="category-item">
                            <box-icon type='solid' name='videos'></box-icon>
                          <a class="category-link" href="">Courses</a>  
                        </li>
                        <li class="category-item ">
                            <box-icon name='message-alt-detail'></box-icon>
                           <a class="category-link" href=""> Communication</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='bar-chart-alt-2' type='solid' ></box-icon>
                          <a class="category-link" href="">Performance</a>  
                        </li>
                        <li class="category-item" >
                            <box-icon name='wrench' type='solid' ></box-icon>
                            <a class="category-link" href="">Tools</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='support'></box-icon>
                            <a class="category-link" href="">Tools</a>
                        </li>
                        
                    </ul>
                   
                </div>
    
            </div>
            <div class="col-md-10"> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="resources-title">Based on your experience, we think these resources will be helpful.</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="#" class="row instructor-dashboard--panel">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource">
                        <img alt="" class="instructor-dashboard--resource-image"
                            src="https://s.udemycdn.com/instructor/dashboard/engaging-course.jpg">
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource-text">
                        <h3 class="dashboard--resource-title">Name Course</h3>
                        <p class="instructor-dashboard--resource-text">Description</p>
                        <h6>Edit / Manage Course</h6>

                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="#" class="row instructor-dashboard--panel">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource">
                        <img alt="" class="instructor-dashboard--resource-image"
                            src="https://s.udemycdn.com/instructor/dashboard/engaging-course.jpg">
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource-text">
                        <h3 class="dashboard--resource-title">Name Course</h3>
                        <p class="instructor-dashboard--resource-text">Description</p>
                        <h6>Edit / Manage Course</h6>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>