<div class="add-course">
    <div style="padding-top: 74px; padding-bottom:74px;" class="container mt-5">
        <h2>Add Course</h2>
        <form method="POST" action="/seller/courses/create">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label for="name" class="form-label">Course Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Course Name">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="Author">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Price">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label for="videoId" class="form-label">Image</label>
                    <input type="text" class="form-control" id="imageId" name="imageId" placeholder="Image">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label for="videoId" class="form-label">ID Video</label>
                    <input type="text" class="form-control" id="videoId" name="videoId" placeholder="ID Video">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                        <label for="categoryID" class="form-label">Category</label>
                        <select class="form-control" aria-label="Default select example" name="categories_id" id="categoryID">
                            <% categories.forEach(function(category)  { %>
                                <option value="<%= category._id %>"><%= category.nameCategory %></option>
                            <!-- <option selected>Design</option>
                            <option value="Development">Development</option>
                            <option value="Marketing">Marketing</option>
                            <option value="IT and Software">IT and Software</option>
                            <option value="Personal Development">Personal Development</option>
                            <option value="Business">Business</option> -->
                            <% }); %>
                        </select>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label for="shortDescription" class="form-label">Short Description</label>
                    <input type="text" class="form-control" id="shortDescription" name="shortDescription" placeholder="Short Description">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="Description" placeholder="Description">
                </div>
            <button type="submit" class="btn btn-primary">Create Course</button>
        </form>
    </div>
</div>