<div style="padding-top: 74px; padding-bottom:74px;" class="container mt-5">
    <div class="container">
        <h2>Add Course</h2>
        <form method="POST" action="/courses/store">
            <div class="mb-3">
                <label for="name" class="form-label">Course Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
                <label for="videoId" class="form-label">Image</label>
                <input type="text" class="form-control" id="imageId" name="imageId">
            </div>
            <div class="mb-3">
                <label for="videoId" class="form-label">ID Video</label>
                <input type="text" class="form-control" id="videoId" name="videoId">
            </div>
            <button type="submit" class="btn btn-primary">Create Course</button>
        </form>
    </div>
</div>