<div class="add-course">
    <div style="padding-top: 100px; padding-bottom: 74px" class="container mt-5">
        <h2>Edit Video</h2>
        <% lessons.forEach(function(lesson) { %>
            <form method="POST" action="/seller/course/create/2/<%- lesson._id %>/edit?_method=PUT">
                <input type="hidden" name="_method" value="PUT">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 input-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <input type="test" class="form-control" value="<%= lesson.urlVideo %>" id="urlVideo"
                                    name="urlVideo" placeholder="URL" />
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <input type="text" class="form-control" value="<%= lesson.title %>" id="title"
                                    name="title" placeholder="Course Name" />
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-secondary mt-3">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <% }); %>
    </div>
</div>