<!doctype html>
<html lang="en">
<title>Certificate</title>

<head>
    <% include ../elements/header %>
    <% include header-certification %>
    <% include ../elements/css/header-footer %>
</head>

<body>
  <% include ../elements/navbar %>
   <% include home-certification %>
   <% include ../elements/footer %>
    <% include ../elements/script %>
</body>

</html>