<!doctype html>
<html lang="en">

<head>
    <% include template/header %>
</head>

<body>
    <% include ../elements/navbar %>
    <% include template/create1 %>
    <% include template/footer %>
    <% include ../elements/script %>
</body>

</html>