<!DOCTYPE html>
<html lang="en">
  <head>
    <% include template/header %>
  </head>

  <body>
    <% include ../elements/navbar %> <% include template/edit %> <% include
    template/footer %> <% include ../elements/script %>
    <script>
      document.getElementById("editBtn").onclick = () => {
        localStorage.setItem("isEditFromSeller", "true");
      };
    </script>
  </body>
</html>
