<!doctype html>
<html lang="en">

<head>
    <% include template/header-create %>
</head>

<body>
    <% include ../elements/navbar %>
    <% include template/edit2 %>
    <% include template/footer %>
    <% include ../elements/script %>
    <script>
        window.onload = () => {
            const isEditFromSeller = localStorage.getItem("isEditFromSeller") || "";
            document.getElementById("submitFormEditLesson").onclick = () => {
            localStorage.removeItem('isEditFromSeller');
          };
          if (isEditFromSeller) {
              document.getElementById('isEditLesson').innerHTML = "<input type='checkbox' name='isEdit' checked>Is Edit</input>"
          }
        }
    </script>
</body>

</html>