<!DOCTYPE html>
<html lang="en">
  <head>
    <% include template/header %>
  </head>

  <body>
    <% include ../elements/navbar %>
    <% include template/edit %>
    <% include template/footer %>
    <% include ../elements/script %>
    <script>
      window.onload = () => {
        document.getElementById("editVideoBtn").onclick = () => {
          localStorage.setItem("isEditFromSeller", "true");
        };
        document.getElementById("editQuestionBtn").onclick = () => {
          localStorage.setItem("isEditQuestionFromSeller", "true");
        };
      }
    </script>
  </body>
</html>
