<!doctype html>
<html lang="en">

<head>
    <% include template/header-create %>
</head>

<body>
    <% include ../elements/navbar %>
    <% include template/edit3 %>
    <% include template/footer %>
    <% include ../elements/script %>
    <script>
    </script>
</body>

</html>