<!doctype html>
<html lang="en">

<head>
    <% include elements/header %>
</head>

<body>
    <% include elements/navbar %>
    <% include courses/courses %>
    <% include elements/footer %>
    <% include elements/script %>
</body>

</html>