<!doctype html>
<html lang="en">

<head>
    <% include elements/header %>
    <% include elements/css/main %>
    <% include elements/css/header-footer %>
</head>

<body>
    <% include elements/navbar %>
    <% include elements/content %>
    <% include elements/footer %>
    <% include elements/script %>
</body>

</html>