<!doctype html>
<html lang="en">

<head>
    <% include elements/header %>
    <% include elements/css/pruduct-courses %>
    <% include elements/css/header-footer %>
</head>

<body>
    <% include elements/navbar %>
    <% include elements/container-learning %> 
    <% include elements/footer %>
    <% include elements/script %>
</body>

</html>