<!doctype html>
<html lang="en">

<head>
    <% include logins/header %>
    <% include elements/header %>
</head>

<body>
    <% include elements/navbar %>
    <% include logins/content %>
    <% include elements/footer %>
    <% include logins/script %>
    <% include elements/script %>
</body>

</html>