<!doctype html>
<html lang="en">

<head>
    <% include password/header %>
    <% include elements/header %>
</head>

<body>
    <% include elements/navbar %>
    <% include password/content %>
    <% include elements/footer %>
    <% include password/script %>
    <% include elements/script %>
</body>

</html>