<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Payment Success</title>
    <meta name="keywords"
        content="login sucess animate template | html and css login templates | login successful template" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/register-success .css" />
</head>

<body>
 <div class="success__wrapper">
    <div class="success_container">
        <div class="ic_schauhan">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <p>PAYMENT SUCCESS</p>
        <div class="line"></div>
        <a href="./">
            <span class="arrow"></span>
        </a>
    </div>
 </div>
</body>

</html>