<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Profile</title>
    <% include elements/header %>
        <% include elements/css/header-footer %>
            <link rel="stylesheet" href="../assets/css/userProfile.css">
</head>

<body>
    <% include elements/navbar %>
    <% include userProfile/user-profile %>
    <% include elements/footer %>
    <% include userProfile/script.ejs%>;

</body>

</html>