<div class="container-fluid">
  <div class="search__wrapper">
    <h2 class="search__title">10,000 results for “python”</h2>
    <!-- <p>Explore Python courses</p>
    <p>
      Students also learn Data Science Machine Learning Django Flask Data
      Analysis Programming Fundamentals
    </p> -->
    <!-- <div class="form-floating">
      <select class="form-select" id="sortby">
        <option selected>Most Reviewed</option>
        <option value="1">Newest</option>
        <option value="2">Most Relevent</option>
      </select>
      <label for="sortby">Sort by</label>
    </div> -->
    <div class="search__shopping">
      <div class="search__list">
        <section class="card">
          <div class="card-container">
            <div class="card-image">
              <img
                src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
                alt="photo"
              />
            </div>
            <div class="card-info">
              <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
              <p>By tác giả</p>
              <p class="card-rating">
                4.5<i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
                <span>(1000 rating)</span>
              </p>
              <p>14 heures au total - Beginner</p>
            </div>
            <div class="card-price">
              <h5 class="card-text">$9.99</h5>
              <h6><del>$84.99</del></h6>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="search__shopping">
      <div class="search__list">
        <section class="card">
          <div class="card-container">
            <div class="card-image">
              <img
                src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
                alt="photo"
              />
            </div>
            <div class="card-info">
              <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
              <p>By tác giả</p>
              <p class="card-rating">
                4.5<i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
                <span>(1000 rating)</span>
              </p>
              <p>14 heures au total - Beginner</p>
            </div>
            <div class="card-price">
              <h5 class="card-text">$9.99</h5>
              <h6><del>$84.99</del></h6>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="search__shopping">
      <div class="search__list">
        <section class="card">
          <div class="card-container">
            <div class="card-image">
              <img
                src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
                alt="photo"
              />
            </div>
            <div class="card-info">
              <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
              <p>By tác giả</p>
              <p class="card-rating">
                4.5<i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
                <span>(1000 rating)</span>
              </p>
              <p>14 heures au total - Beginner</p>
            </div>
            <div class="card-price">
              <h5 class="card-text">$9.99</h5>
              <h6><del>$84.99</del></h6>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="search__shopping">
      <div class="search__list">
        <section class="card">
          <div class="card-container">
            <div class="card-image">
              <img
                src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
                alt="photo"
              />
            </div>
            <div class="card-info">
              <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
              <p>By tác giả</p>
              <p class="card-rating">
                4.5<i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
                <span>(1000 rating)</span>
              </p>
              <p>14 heures au total - Beginner</p>
            </div>
            <div class="card-price">
              <h5 class="card-text">$9.99</h5>
              <h6><del>$84.99</del></h6>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
