<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông Tin</title>
  </head>
  <body>
    <form action="">
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInputGrid" />
          <label for="floatingInputGrid">Tên Học Viên</label>
        </div>
      </div>
    </form>
  </body>
</html>
