<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../elements/header %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/user-learning.css" />
</head>

<body>
  <div class="wrapper">
    <div class="container-xxl row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 content__left">
        <div class="video-lesson">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/J0qp9rTSQOk"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
              type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
              type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Ghi Chú</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
              type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Liên Quan</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="nav-home-tab">
              <p>Tham gia nhóm Học lập trình tại F8 trên Facebook để cùng nhau trao đổi trong quá trình học tập.</p>
              <p>Các bạn subscribe kênh Youtube F8 Official để nhận thông báo khi có các bài học mới nhé ❤️</p>
              <div class="justify-content-between">
                <h3 class="my-3">33 hỏi đáp</h3>
                <div>
                  <span>CHIA SẺ</span>
                </div>
                <div class="user-comment d-flex align-items-center">
                  <div class="user-avt">
                    <img src="https://placeimg.com/480/480" alt="photo">
                  </div>
                  <div>
                    <h6 class="user-name">
                      Người học
                    </h6>
                    <p>bài học tuyệt vời</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Trang ghi chú
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Trang liên quan
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 content__right">
        <div class="p-3">
          <h6>NodeJs & ExpressJs</h6>
          <p>Hoàn thành <strong>27/36</strong>bài học (<strong>75%</strong>)</p>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button playlist-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#part1" aria-expanded="true">
                Phần 1: Bắt đầu
              </button>
            </h2>
            <div id="part1" class="accordion-collapse collapse show">
              <div class="d-flex align-items-center lesson-description">
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">1. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description">
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">2. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description lock-lesson">
                <div class="lock">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">3. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description lock-lesson">
                <div class="lock">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">3. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description lock-lesson">
                <div class="lock">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">3. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#part2"
                aria-expanded="false">
                Phần 2: Kiến thức cốt lõi
              </button>
            </h2>
            <div id="part2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="d-flex align-items-center lesson-description">
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">1. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#part3"
                aria-expanded="false">
                Phần 3: Xây dựng website
              </button>
            </h2>
            <div id="part3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="d-flex align-items-center lesson-description">
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">1. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <% include ../elements/script %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>