<div class="container">
  <div class="wrapper">
    <h1 class="cart__title">Shopping Cart</h1>
    <div class="cart__shopping">
      <div class="cart__list">
        <p>2 Courses in Cart</p>
        <section class="card">
          <div class="card-container">
            <div class="card__image">
              <img
                src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
                alt="photo"
              />
            </div>
            <div class="card-info">
              <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
              <p>By tác giả</p>
              <p>4.5</p>
              <p>14 heures au total • 61 lectures • Beginner</p>
            </div>
            <div class="col dflex">
              <button class="btn btn-link">Remove</button>
              <button class="btn btn-link">Save for Later</button>
              <button class="btn btn-link">Move to Wishlist</button>
            </div>
          </div>
        </section>
      </div>
      <div class="cart__total">
        <p>Total:</p>
      </div>
    </div>
  </div>
</div>
