<div class="cart__wrapper">
  <h1 class="cart__title">Shopping Cart</h1>
  <div class="cart__shopping">
    <div class="cart__list">
      <p class="my-3">3 Courses in Cart</p>
      <section class="card">
        <div class="card-container">
          <div class="card-image">
            <img
              src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
              alt="photo"
            />
          </div>
          <div class="card-info">
            <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
            <p>By tác giả</p>
            <p class="card-rating">
              4.5<i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i>
              <span>(1000 rating)</span>
            </p>
            <p>14 heures au total - Beginner</p>
          </div>
          <div class="card-button">
            <button class="btn btn-link">Remove</button>
            <button class="btn btn-link">Save for Later</button>
            <button class="btn btn-link">Move to Wishlist</button>
          </div>
          <div class="card-price">
            <h5 class="card-text">$9.99<i class="fas fa-tag mx-2"></i></h5>
            <h6><del>$84.99</del></h6>
          </div>
        </div>
      </section>
      <section class="card">
        <div class="card-container">
          <div class="card-image">
            <img
              src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
              alt="photo"
            />
          </div>
          <div class="card-info">
            <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
            <p>By tác giả</p>
            <p class="card-rating">
              4.5<i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i>
              <span>(1000 rating)</span>
            </p>
            <p>14 heures au total - Beginner</p>
          </div>
          <div class="card-button">
            <button class="btn btn-link">Remove</button>
            <button class="btn btn-link">Save for Later</button>
            <button class="btn btn-link">Move to Wishlist</button>
          </div>
          <div class="card-price">
            <h5 class="card-text">$9.99<i class="fas fa-tag mx-2"></i></h5>
            <h6><del>$84.99</del></h6>
          </div>
        </div>
      </section>
      <section class="card">
        <div class="card-container">
          <div class="card-image">
            <img
              src="https://www.saga.vn/uploads/thumbnail%20300x300/Anh%20thumbnail%20-%20Kich%20thuoc%20hinh%20anh%20chuan.jpg"
              alt="photo"
            />
          </div>
          <div class="card-info">
            <h6>Hacking Éthique : Apprendre à programmer en Python</h6>
            <p>By tác giả</p>
            <p class="card-rating">
              4.5<i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i>
              <span>(1000 rating)</span>
            </p>
            <p>14 heures au total - Beginner</p>
          </div>
          <div class="card-button">
            <button class="btn btn-link">Remove</button>
            <button class="btn btn-link">Save for Later</button>
            <button class="btn btn-link">Move to Wishlist</button>
          </div>
          <div class="card-price">
            <h5 class="card-text">$9.99<i class="fas fa-tag mx-2"></i></h5>
            <h6><del>$84.99</del></h6>
          </div>
        </div>
      </section>
    </div>
    <div class="cart__total">
      <p>Total:</p>
      <h1>$19.98</h1>
      <p><del>$169.98</del></p>
      <p>80% off</p>
      <button class="btn-violet">Checkout</button>
      <h5 class="my-3">Promotions</h5>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Coupon" />
        <button class="btn btn-primary" type="button" id="button-addon2">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
