* {
  box-sizing: border-box;
}

:root {
  --main-background-color: #212121;
  --main-background2-color: #000;
  --main-background3-color: rgb(39, 39, 39);
  --main-background4-color: rgb(241, 90, 34);
  --main-color: #ffffff;
  --style-color: #e40084;
}
a {
  text-decoration: none !important;
}
p {
  line-height: 0.6;
  font-size: 16px;
  color: var(--style-color);
}
h6 {
  font-weight: initial;
  color: #fff;
}
.container-fluid {
  background-color: var(--main-background2-color);
}
.search__wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding: 50px 100px 10px 100px;
}
.search__title {
  margin: 50px 0px;
  color: var(--main-color);
}
.search__title span {
  font-style: italic;
}

.search__shopping {
  display: flex;
}
.search__list {
  width: 100%;
}
.card {
  padding: 10px;
  margin: 12px 0;
  border: 1px solid var(--main-background2-color) !important;
  border-radius: 10px !important;
  background-color: var(--main-background-color) !important;
}
.card:hover p{
  color: #ff0022;
  transition: all 0.3s ease;
}
.card:hover .card-info h6{
  color: var(--main-color);
  transition: all 0.3s ease;
}
.card:hover .card-image img {
  opacity: 1;
  transition: all 0.3s ease;
}
.card:hover .card-text  {
  color: #89fcf0;
  transition: all 0.3s ease;
}
.card-container {
  display: flex;
  margin: 12px 8px;
}

.card-image {
  width: 150px;
  height: 100px;
}
.card-image img {
  opacity: 0.8;
  width: 100%;
  height: 100px;
}

.card-info {
  width: 70%;
  padding-left: 30px;
}
.card-info h6 {
  color: rgb(180, 180, 180);
  font-size: 25px;
}

.card-text {
  font-weight: bold;
  color: #40e0d0;
}
.card-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.search__total {
  margin-left: 20px;
  width: 30%;
  color: rgb(241, 90, 34);
}
.btn-pink {
  border: none;
  font-weight: bold;
  height: 50px;
  width: 100%;
  color: #fff;
  background: linear-gradient(
    100.37deg,
    rgb(236, 0, 139) 0%,
    rgb(241, 90, 34) 100%
  );
}
.btn-pink:hover {
  color: #fff;
  background: linear-gradient(
    100.37deg,
    rgb(241, 90, 34) 0%,
    rgb(236, 0, 139) 100%
  );
}
.btn-pink:focus {
  outline: none;
}
.btn-primary {
  background-color: var(--style-color) !important;
}
.btn-link {
  color: #f4a460 !important;
}
.btn-link:hover {
  color: var(--style-color) !important;
}

@media screen and (max-width: 992px) {
  .search__wrapper {
    padding: 50px 30px;
  }
  .search__shopping {
    flex-direction: column-reverse;
  }
  .search__list {
    width: 100%;
  }
  .search__title {
    padding-top: 50px;
  }
  .search__total {
    margin-left: 0px;
    margin-top: 15px;
    width: 100%;
  }
  .card-button {
    display: none;
  }
  .card-price {
    margin-left: 10px;
  }
}



.pagination-container {
  position: relative;
  margin-top: 60px;

}
.pagination  li {
  position: relative;
  display: inline-block;
  color: var(--main-color);
  text-decoration: none;
  font-size: 16px;
  padding: 0px ;
  font-weight: 500; 
 
}
.pagination-container .page-link {
  position: relative;
  display: block;
  padding: 15px 20px;
  /* margin-left: -1px; */
  margin: 0 6px;
  line-height: 1.25;
  color: var(--style-color);
  background-color: var(--main-background-color);
  border: 1px solid #dee2e6;
  border-radius: 50%;
}
.page-item > .page-link:hover {
  color: var(--main-color);
  background-color: var(--main-background4-color);
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.page-item:last-child .page-link {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.pagination-container .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: var(--style-color);
  border-color: #fff;
}
.pagination-container .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #333;
  border-color: #333;
}