html, body {
    margin: 0;
    padding: 0;
}
:root {
    --main-background-color: #212121;
    --main-background2-color: #000;
    --main-background3-color: rgb(39, 39, 39);
    --main-background4-color: rgb(241, 90, 34);
    --main-color: #ffffff;
    --style-color: #e40084;
}
a {
    text-decoration: none !important;
}

/* header */
.seller__wrapper {
    background-color: #333;
}
.header-seller-home{
    padding-top: 100px;
}
.create-your{
    align-items: center;
    margin: 48px 0 24px 0;
    padding:48px;
    border: 1px solid #d1d7dc;
    border-radius: 5px;
    margin: 0 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    display: flex;
    justify-content: space-between;
}
.create-your h1{
    font-size: 28px;
    color: tomato;
}

.create-title    {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.btn-create-your {
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background: linear-gradient( 100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
    color: var(--main-color);
    font-weight: 700;
}
.btn-create-your:hover{
    background: linear-gradient( 100.37deg, rgb(241, 90, 34) 0%, rgb(236, 0, 139) 100%);
    transition: all 0.3s ease;
}
.resources-title{
    color: var(--main-color);
    text-align: center;
    margin: 40px auto;
    font-size:20px;
}
a.detail {
    background-color: var(--style-color);
    border-color: var(--style-color);
}
a.detail:hover {
    background-color: var(--main-background4-color);
    border-color: var(--main-background4-color);
}

.instructor-dashboard--panel{
    margin: 0 15px;
    width: auto ;
    color: var(--main-color);
    padding: 16px 20px;
    border: 1px solid #d1d7dc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    margin-bottom: 20px;
}
.instructor-dashboard--panel img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}
.instructor-dashboard--panel h3{
    color: var(--style-color);
}
.instructor-dashboard--panel span {
    color: rgb(153, 153, 153);
}
.instructor-dashboard--panel .button-right {
    margin-top: 8%;
}
.instructor-dashboard--panel .button-right button.detail {
    background-color: var(--style-color);
    border-color: var(--style-color);
}

.instructor-dashboard-footer{
    color: var(--main-color);
    padding: 32px 48px 64px;
    text-align: center;
}
.instructor-dashboard-button{
    /* font-weight: 700;
    line-height: 1.2;
     letter-spacing: -.02rem; 
    font-size: 16px;
    max-width: 29px;
    background-color: #a435f0;
    height: 48px; */
    min-width: 20px;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    padding: 10px 60px;
    background: linear-gradient( 100.37deg, rgb(241, 90, 34) 0%, rgb(236, 0, 139) 100%);
    color: var(--main-color);
    font-weight: 700;
    white-space: nowrap;
    margin-top: 20px;
}
.instructor-dashboard-button:hover {
    color: #000;
    background: linear-gradient( 100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
}

/* seller-create */
.add-course {
    background-color: var(--main-background3-color);
}
.add-course h2 {
    color: var(--main-color);  
    margin-bottom: 20px; 
}
.add-course form label, .edit-course form label {
    color: var(--style-color);
}
.add-course form button.btn-save {
    margin: 30px 0;
    background-color: var(--style-color);
    border-color: var(--style-color);
    transition: all 0.3s ease;
}
.add-course form button.btn-save:hover {
    background-color: var(--main-background4-color);
    border-color: var(--main-background4-color);
}


/* seller-edit */
.edit-course {
    background-color: var(--main-background3-color);
}
.edit-course h2 {
    color: var(--main-color);  
    margin-bottom: 20px; 
}
.edit-course form label {
    color: var(--style-color);
}   
.edit-course form button.btn-save:hover {
    background-color: var(--main-background4-color);
    border-color: var(--main-background4-color);
}

/* billing-manager */
.bill-wrapper {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
}


/* footer */
/* footer */
footer {
    background-color: black;
    height: auto;
    width: auto;
}
footer .container {
    max-width: 100%;
}
footer .khoi {
    padding-left: 50px;
    margin: 60px 0;
}
footer .khoi h5 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
    margin: 30px 0;
}
footer .khoi a {
    display: block;
    color: #7c7c7d;
    font-weight: 500;
    font-size: 13px;
    width: 100%;
    height: auto;
    margin: 15px 0;
    transition: all 0.3s ease;
}
footer .khoi a:hover {
    color: var(--main-color);
}
footer .footer-bottom {
    padding: 20px 20px;
    border-top: 1px solid #333;
}
footer .footer-bottom img {
    margin: -14px 0px;
    float: left;
    width: 50px;
    height: 50px;
}
footer .footer-bottom p {
    font-size: 12px;
    font-weight: 700;
    /* margin-top: 14px; */
    color: #7c7c7d;
    display: inline;
}
footer .footer-bottom-mid a {
    font-size: 12px;
    font-weight: 700;
    margin: 20px 10px;
    color: var(--main-color);
    display: inline;
    height: 100%;
}
footer .footer-bottom-right a i {
    font-size: 18px;
    margin: 20px 10px;
    color: var(--main-color);
    display: inline;
}