
:root {
    --main-background-color: #212121;
    --main-background2-color: #000;
    --main-background3-color: rgb(39, 39, 39);
    --main-background4-color: rgb(241, 90, 34);
    --main-color: #ffffff;
    --style-color: #e40084;
    }
    a {
        text-decoration: none !important;
    }
    h5 {
        color: #fff
    }
.add-course {
    background-color: #333;
}
.add-course h2 {
    color: var(--main-color);
    margin-bottom: 30px;
}
.course-container {
    margin: 15px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 5px;
    padding: 12px;
    background-color: var(--main-background3-color);

}
.course-container h3.title {
    padding-top: 30px;
    color: var(--style-color);
}
.course-container a.edit, .course-container a.delete {
    text-align: center;
    margin-top: 30px;
}
.course-container button.up-down {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    font-size: 25px;
    display: block;
    text-align: center;
    margin-top: 8px;
    padding: 0;
}
.course-container button.up-down:disabled {
    visibility: hidden;
}
.input-container {
    margin: 0 15px;
}
