* {
  box-sizing: border-box;
}
:root {
  --main-background-color: #212121;
  --main-background2-color: #000;
  --main-color: #ffffff;
  --style-color: #e40084;
}
a {
  text-decoration: none !important;
}
p {
  line-height: 0.6;
  font-size: 14px;
  color: var(--style-color);
}
p.my-3 {
  font-size: 18px;
  color: var(--main-color);
}
.container-fluid {
  background-color: var(--main-background2-color);
}
.cart__wrapper {
  margin: 0 auto;
  max-width: 1500px;
  padding: 78px 100px;
}
.cart__title {
  margin: 30px 0px;
  color: var(--style-color);
}
.cart__shopping {
  display: flex;
}
.cart__list {
  width: 70%;
}
.card {
  padding: 10px;
  border: 3px solid var(--main-background2-color) !important;
  border-radius: 10px !important;
  background-color: var(--main-background-color) !important;
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 8px;
}
.card-image {
  width: 100px;
  height: 100px;
}
.card-image img {
  width: 100%;
}
.card-info {
  padding-left: 10px;
}
.card-info h6 {
  color: var(--main-color);
  font-size: 20px;
}
.card-rating {
  color: #f7a614;
}
.card-price {
  font-weight: bold;
  color: #40e0d0;
}
.card-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.cart__total {
  margin-left: 20px;
  width: 30%;
  color: rgb(241, 90, 34);
  border: 1px solid #333;
  padding: 10px 20px;
  background-color: var(--main-background-color);
  border-radius: 5px;
}
.btn-pink {
  border: none;
  font-weight: bold;
  height: 50px;
  width: 100%;
  color: #fff;
  background: linear-gradient(
    100.37deg,
    rgb(236, 0, 139) 0%,
    rgb(241, 90, 34) 100%
  );
}
.btn-pink:hover {
  color: #fff;
  background: linear-gradient(
    100.37deg,
    rgb(241, 90, 34) 0%,
    rgb(236, 0, 139) 100%
  );
}
.btn-pink:focus {
  outline: none;
}
.btn-primary {
  background-color: var(--style-color) !important;
}
.btn-link {
  color: #f4a460 !important;
}
.btn-link:hover {
  color: var(--style-color) !important;
}
@media screen and (max-width: 992px) {
  .cart__wrapper {
    padding: 50px 30px;
  }
  .cart__shopping {
    flex-direction: column-reverse;
  }
  .cart__list {
    width: 100%;
  }
  .cart__total {
    margin-left: 0px;
    margin-top: 82px;
    width: 100%;
  }
  .cart__title {
    display: none;
  }
  .card-price {
    margin-left: 10px;
  }
}
