* {
  box-sizing: border-box;
}

p {
  line-height: 0.6;
  font-size: 14px;
}
.cart__wrapper {
  margin: 0 auto;
  max-width: 1500px;
  padding: 78px 100px;
}
.cart__title {
  margin: 30px 0px;
}

.cart__shopping {
  display: flex;
}
.cart__list {
  width: 70%;
}
.card {
  padding: 10px;
}

.card-container {
  display: flex;
}

.card-image {
  width: 100px;
  height: 100px;
}
.card-image img {
  width: 100%;
}

.card-info {
  padding-left: 10px;
}

.card-rating {
  color: #b4690e;
}

.card-text {
  font-weight: bold;
  color: #7325a3;
}
.card-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.cart__total {
  margin-left: 20px;
  width: 30%;
}
.btn-violet {
  border: none;
  font-weight: bold;
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #a435f0;
}
.btn-violet:hover {
  color: #fff;
  background-color: #7325a3;
}
.btn-violet:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .cart__wrapper {
    padding: 50px 30px;
  }
  .cart__shopping {
    flex-direction: column-reverse;
  }
  .cart__list {
    width: 100%;
  }
  .cart__total {
    margin-left: 0px;
    margin-top: 15px;
    width: 100%;
  }
  .cart__title {
    display: none;
  }
  .card-button {
    display: none;
  }
  .card-price {
    margin-left: 10px;
  }
}
