:root {
  --main-background-color: #212121;
  --main-background2-color: #000;
  --main-background3-color: rgb(39, 39, 39);
  --main-background4-color: rgb(241, 90, 34);
  --main-color: #ffffff;
  --style-color: #e40084;
}
* {
  box-sizing: border-box;
}
p {
  margin-bottom: 0px;
}
ol {
  margin-bottom: 0px;
}
a {
  text-decoration: none !important;
}
.wrapper {
  /* max-width: 1300px; */
  margin: 0 auto;
  color: var(--main-color);
  background-color: var(--main-background-color);
}
.nav__header {
  height: 50px;
  width: 100%;
  background-color: #29303b;
}
.nav__header a {
  color: var(--style-color);
}
.nav__header .container {
  max-width: 1500px;
}
.nav__header img {
  height: 50px;
  width: auto;
}
.container-fluid {
  padding: 0;
}
@media (max-width: 991px) {
  .container-fluid {
    margin: 0;
  }
}
.content__left iframe {
  width: 100%;
  height: 800px;
  background-color: #1c1d1f;
}
@media (max-width: 1380px) {
  .content__left iframe {
    height: 600px;
  }
}
@media (max-width: 680px) {
  .content__left iframe {
    height: 450px;
  }
}
@media (max-width: 450px) {
  .content__left iframe {
    height: 300px;
  }
}

.content__right {
  overflow: auto;
  -ms-overflow-style: none;
  height: 100%;
}
@media (max-width: 991px) {
  .content__right {
    padding-top: 80px;
  }
}
.content__right .p-3 h6 {
  font-size: 28px;
  color: var(--style-color);
}
  .content__right .p-3 p {
  color: var(--main-background4-color );
}
.content__right::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.accordion-button {
  font-weight: bold;
  color: var(--main-color);
  background: linear-gradient( 100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
}
.accordion-button:not(.collapsed) {
  color: var(--main-color) !important;
}
.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background: none;
  background-color: rgb(26, 22, 22);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-item {
  background-color: var(--main-background3-color);
  border: 1px solid rgba(0,0,0,.125);
}
  .video-lesson {
  width: auto !important;
  height: auto;
}
.lesson-description {
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: 10px 6px;
  padding-left: 10px;
}
a.lesson-description:hover .lesson-name {
  font-weight: bold;
  color: rgb(238, 31, 176);
}
.lesson-description:hover p {
  font-weight: bold;
  color: rgb(199, 77, 6);
}
a.lesson-description {
  color: rgb(1, 235, 252);
}
.lesson-description p {
  color: rgb(141, 112, 146);
}
.lesson-description:first-child {
  margin-top: 15px;
}
.lesson-time {
  color: rgb(143, 140, 140);
}
.playlist-button:focus {
  outline: none;
}
.lesson-description:hover {
  background-color: #e7e7e7;
}
.nav-tabs {
  padding: 0 50px;
}
.nav-tabs button.nav-link {
  color: var(--style-color);
  font-size: 16px;
}
.nav-tabs button.nav-link.active {
  background-color: var(--style-color);
  color: var(--main-color) !important;
  font-weight: bold;
  font-size: 18px;
}
.justify-content-between .my-3 {
  font-size: 25px;;
}
.justify-content-between .share {
  text-align: right;
}
.check {
  font-size: 20px;
  color: gray;
}
.lock {
  font-size: 20px;
  color: #ccc;
}
.lock-lesson {
  background-color: #e7e7e7;
  cursor: initial;
}
.tab-content {
  background-color: var(--main-background3-color);
  padding: 20px 50px;
  height: auto;
}
.user-comment {
  margin-top: 15px;
  width: 200px;
}
.user-comment .comment__user {
  color: var(--main-color);
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #212121;
}
.user-comment .comment__user h6 {
  font-size: 18px;
}
.user-comment .comment__user p {
  font-size: 16px;
}
.user-avt {
  width: 60px;
  height: 60px;
  padding-right: 20px;
}
.user-avt img {
  width: 100%;
  border-radius: 50%;
}
.progress-bar {
  background-color: rgb(238, 31, 176);
}
/*
comment */
body {
  background: #eee
}

.date {
  font-size: 11px
}

.comment-text {
  font-size: 12px;
  color :#212121;
}

.fs-12 {
  font-size: 12px
}
.bg-white{
  color: var(--style-color);
}
.shadow-none {
  box-shadow: none
}

.name {
  color: #007bff
}

.cursor:hover {
  color: rgb(2, 2, 2)
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}
.response__comment{
  width: 100%;
  height: auto;
  background-color: #ccc;
}
.response__comment .block__comment{
  padding: 2px 20px;
}
.response__comment .response__comment-item{
  padding: 5px 0;
}
.response__comment .response__comment-title{
  color: #8b572a;
  font-size: 0.9rem;
  font-weight: 500;
}
.response__comment .response__comment-comment{
  color: rgba(0,0,0,.87);
  font-size: 0.8rem;
}
.comment-section .bg-white {
  background-color: #333333 !important;
  border-radius: 8px;
  margin: 12px 0;
}
.comment-section .name {
  color: var(--style-color);
}
.comment-section .p-2 {
  padding: 1rem !important;
}
.comment-section .text-black-50 {
  color: var(--main-color)!important;
}
.comment-section .comment-text {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  flex: 1;
  padding: 5px 12px;
  color: var(--main-background4-color) ;
}
.comment-section .note-text {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  padding: 5px 12px;
  color: #333 ;
}
.comment-section .response__comment {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.comment-section .bg-light .btn-primary {
  color: #fff;
  background-color: var(--style-color);
  border-color: var(--style-color);
  transition: all 0.3s ease;
}
.comment-section .bg-light .btn-primary:hover {
  color: #fff;
  background-color: var(--main-background4-color);
  border-color: var(--main-background4-color);
}
.comment-section .bg-light {
  background-color: #333333!important;
}
.comment-section .bg-light .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(226, 226, 226);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.comment-section .bg-light .btn-outline-primary {
  color: var(--main-background4-color);
  border-color: var(--main-background4-color);
  transition: all 0.3s ease;
}
.comment-section .bg-light .btn-outline-primary:hover {
  color: #fff;
  background-color: var(--main-background4-color);
  border-color: var(--main-background4-color);
}

.container-note{
  background-color: #f7f8fa;
  border-radius: 10px;
}
.note-area{
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.note-function{
  display: flex;
  font-size: 1.2rem;
}
.note-function a, .deleteNote-form {
  color:#e40084;
  font-size: 23px;
  margin: 12px 10px;
  color: inherit;
  transition: all 0.3s ease;
}
.note-function a:hover, .deleteNote-form:hover {
  color:#00c9e4;
}
.btn-secondary {
  padding: 0 15px;
  line-height: 0;
}
.edit-content__form{
  display: flex;
  width: 100%;
}