:root {
  --main-background-color: #212121;
  --main-color: #ffffff;
  --style-color: #e40084;
}
* {
  box-sizing: border-box;
}
p {
  margin-bottom: 0px;
}
ol {
  margin-bottom: 0px;
}
a {
  text-decoration: none !important;
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.content__right {
  overflow: auto;
  -ms-overflow-style: none;
  height: 100vh;
}
.content__right::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.video-lesson {
  max-width: 950px;
  height: 500px;
}
.lesson-description {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}
.lesson-time {
  color: rgb(143, 140, 140);
}
.playlist-button:focus {
  outline: none;
}
.lesson-description:hover {
  background-color: #e7e7e7;
}
.check {
  font-size: 20px;
  color: green;
}
.lock {
  font-size: 20px;
  color: #ccc;
}
.lock-lesson {
  background-color: #e7e7e7;
  cursor: initial;
}
.tab-content {
  margin: 20px 50px;
}
.user-comment {
  margin-top: 15px;
  width: 200px;
}
.user-avt {
  width: 50px;
  height: 50px;
  padding-right: 20px;
}
.user-avt img {
  width: 100%;
  border-radius: 50%;
}
