<section class="sign-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-0 col-xm-0  sign-in-right">

            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xm-12 sign-in-left">
                <div class="title">
                    <img src="./assets/images/logo.png" alt="">
                    <h5>CODEEVERYDAY</h5>
                </div>

                <div class="login-alert">
                </div>
                <div style="color: #d31a17; width: auto; height: 50px; margin-left: 50px;" id="notification">

                </div>
                <form method="POST" action="/auth/login" id="login-form">
                    <h6>Email or Username</h6>
                    <input id="username" name="username" type="text" placeholder="Username">
                    <h6>Password</h6>
                    <input id="password" name="password" type="password">
                    <button type="button" value="Submit Form" class="btn btn-info form-submit" id="form-submit"
                        placeholder="Password">Sign in</button>
                </form>
                <div class="sign-in-left-mid">
                    <a href="#">Forgot password?</a>
                    <a href="#">Sign in with company or school</a>
                </div>
                <div class="create">
                    <button onclick="window.location.href='/register'" type="button" class="btn btn-secondary">Create an
                        account</button>
                </div>
                <!-- <div class="footer">
                <p>Copyright © 2020 - 2021 CodeEveryDay LLC. All rights reserved</p>
                <p>
                    <a href="#"><u>Terms of Use</u></a>
                    &verbar;
                    <a href="#"><u>Privacy Policy</u></a>
                </p>
            </div> -->
            </div>
            <div class="col-lg-3 col-md-2 col-sm-0 col-xm-0  sign-in-right">

            </div>
        </div>
    </div>
</section>