<div class="container" style="margin-top: 100px;margin-bottom:40px;">
    <div class="row container-profile">
        <div class="sidebar col-sm">
            <div class="name-profile">
                <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <h3>
                    <%- user.username%>
                </h3>
            </div>
            <div class="sidebar-list">
                <ul>
                    <li><a href="/user">View public profile</a></li>
                    <li><a href="/user/edit-profile">Profile</a></li>
                    <li class="active"><a href="/user/password">Change password</a></li>
                    <li><a href="/user/certificate">View all certificate</a></li>

                </ul>
            </div>
        </div>
        <div class="profile-container col-sm">
            <div class="profile-container__header">
                <h2>Change password</h2>
                <p>Please enter your old and your new password</p>
            </div>
            <form id="submit-form" action="/user/<%- userInfor.id%>/password/?_method=PATCH" method="POST">
                <div class="profile-container__information">
                    <div class="lable">
                        <h3>Basics:</h3>
                    </div>
                    <div class="form-field">
                        <input placeholder="Old password" name="currentPass" type="password" required>
                    </div>
                    <div class="form-field">
                        <input placeholder="New password" name="newPass" type="password" required>
                    </div>
                    <div class="form-field">
                        <input placeholder="Confirm password" name="confirmPass" type="password" required>
                    </div>
                    <div class="form-field">
                        <p class="notification" style="color: red;">

                        </p>
                        <p class="success" style="color: green;">

                        </p>
                    </div>
                    <button type="button" class="btn btn-success btn-save btn-submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.querySelector('.btn-submit').addEventListener('click', async (e) => {
        // e.preventDefault();
        var form = document.getElementById("submit-form");
        var currentPass = form['currentPass'].value;
        var newPass = form['newPass'].value;
        var confirmPass = form['confirmPass'].value;
        if (currentPass == '' || newPass == '' || confirmPass == '') return document.querySelector('.notification').innerHTML = 'Please fill in all fields!';
        if (newPass != confirmPass) return document.querySelector('.notification').innerHTML = 'Your new password is not match!';
        const result = await fetch('/auth/password', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                currentPass, newPass,
                confirmPass
            })
        }).then((res) => res.json());
        if (result.status == 'success') {
            document.querySelector('.notification').innerHTML = '';
            document.querySelector('.success').innerHTML = 'Success!';
            form['currentPass'].value = '';
            form['newPass'].value = '';
            form['confirmPass'].value = '';

        }
        else {
            document.querySelector('.notification').innerHTML = result.error;
        }

    })
</script>