<div class="checkout__full">
    <div class="checkout__wrapper">
        <div class="checkout__content">
            <div class="checkout__payment">
                <h1 class="mb-5">Check out</h1>
                <p>Billing Address</p>
                <div class="form-floating country-option">
                    <select class="form-select mb-5" id="floatingSelect">
                        <option value="1" selected>Viet Nam</option>
                        <option value="2">American</option>
                        <option value="3">China</option>
                    </select>
                    <label for="floatingSelect">Country</label>
                    <div class="method-credit">
                        <input class="form-check-input" type="radio" name="method-payment" id="option1" value="cart"
                            checked="checked" onchange="OptionChange()" />
                        <label class="form-check-label" for="option1">
                            Credit/ Debit Cart
                        </label>
                    </div>
                    <div class="method-credit">
                        <input class="form-check-input" type="radio" name="method-payment" id="option2" value="paypal"
                            onchange="OptionChange()" />
                        <label class="form-check-label" for="option2"> Paypal </label>
                    </div>
                    <div class="method-payment">
                        <div class="show" id="show-cart">
                            <form action = "/cart/payment" method="post" id = "cartForm">
                                <div class="form-row">
                                    <div class="col mb-3">
                                        <label for="validationDefault01">Name on card</label>
                                        <input type="text" class="form-control" id="validationDefault01"
                                            placeholder="Name on card" name = "nameCard" required />
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="validationDefault02">Card Number</label>
                                        <input type="number" class="form-control" id="validationDefault02"
                                            placeholder="Card Number" value="Otto" name = "numberCard"required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 mb-3">
                                        <label for="validationDefaultUsername">MM/YY</label>
                                        <div class="input-group">
                                            <input type="datepicker" class="form-control" id="validationDefaultUsername"
                                                placeholder="MM/YY" aria-describedby="inputGroupPrepend2" required />
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="validationDefault03">Security Code</label>
                                        <input type="text" class="form-control" id="validationDefault03"
                                            placeholder="Security Code" name = "securityCode" required />
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="validationDefault05">Zip</label>
                                        <input type="text" class="form-control" id="validationDefault05" placeholder="Zip"
                                        name =     required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                            required />
                                        <label class="form-check-label" for="invalidCheck2">
                                            Remember this card
                                        </label>
                                    </div>
                                </div>
                                <input value="22.58" name = "price" hidden />
                                <input value="bin@gmail.com" name = "email" hidden />
                            </form>
                        </div>
                        <div class="show hidden" id="show-paypal">
                            In order to complete your transaction, we will transfer you over to
                            PayPal's secure servers.
                        </div>
                    </div>
                </div>
                <div class="order-detai">
                    <h4>Order Details</h4>
                </div>
                <div class="card-info">
                    <div class="card-image">
                        <img src="https://img-c.udemycdn.com/course/100x100/3250670_4785.jpg" alt="photo" />
                    </div>
                    <h5>Hacking Éthique : Apprendre à programmer en Python</h5>
                    <div>
                        <h6>$9.99</h6>
                        <p><del>$84.99</del></p>
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-image">
                        <img src="https://img-c.udemycdn.com/course/100x100/3250670_4785.jpg" alt="photo" />
                    </div>
                    <h5>Hacking Éthique : Apprendre à programmer en Python</h5>
                    <div>
                        <h6>$9.99</h6>
                        <p><del>$84.99</del></p>
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-image">
                        <img src="https://img-c.udemycdn.com/course/100x100/3250670_4785.jpg" alt="photo" />
                    </div>
                    <h5>Hacking Éthique : Apprendre à programmer en Python</h5>
                    <div>
                        <h6>$9.99</h6>
                        <p><del>$84.99</del></p>
                    </div>
                </div>
            </div>
            <div class="checkout__summary">
                <h1>Summary</h1>
                <div class="d-flex justify-content-between">
                    <p>Original price:</p>
                    <p>$169.98</p>
                </div>
                <div class="d-flex justify-content-between border-bottom border-dark">
                    <p>Coupon discounts:</p>
                    <p>-$150.00</p>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <h4>Total:</h4>
                    <h3>$19.98</h3>
                </div>
                <p>
                    <small>
                        Udemy is required by law to collect applicable transaction taxes for
                        purchases made in certain tax jurisdictions.
                    </small>
                </p>
                <p>
                    <small>
                        By completing your purchase you agree to these
                        <a href="#">Terms of Service</a>.
                    </small>
                </p>
                <button class="btn-pink" id="handlePayment" type ="submit">Process</button>
            </div>
        </div>
    </div>
</div>